<header></header>

<div class="container">
  <br />
  <h1>Coming Soon</h1>
  <br />
  <h3>Ready to Split a Check with your Mates?</h3>
  <br />
  <p>CheckMates at the iTunes Store.</p>

  <div class="signature">
    Brought to you by the <a href="http://checkmatesapp.com">CheckMates</a> app
  </div>
</div>
