<header></header>

<div class="container">
  <br />
  <h1>Thank you</h1>
  <br />
  <p>When all items are claimed, we will send you a payment request.</p>

  <div class="signature">
    Brought to you by the <a href="http://checkmatesapp.com">CheckMates</a> app
  </div>
</div>
