.item {
  margin: 3% 0;
}

.item.false {
  display: none;
}

input[type=checkbox] {
  display: none;
}

label {
  background: white;
  padding: 10px;
}

input[type="checkbox"]:checked + label {
    background: #4CAF50;
    color: white;
    border-radius: 5px;
}

input[type=submit] {
    display: block;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 5% 0;
}

.signature {
	position: fixed;
  display: block;
  font-family: Helvetica, Arial, Sans-Serif;
  text-align: center;
	margin: 20px 0;
	bottom: 0;
	top: auto;
	width: 80%;
  font-size: 0.85em;
  color: #AAAAAA;
}

.signature a {
	color: #AAAAAA;
	text-decoration: none;
	font-weight: bold;
}
